.App {
  max-width: 500px;
  margin:0 auto;
}
pre {
  max-height: 80px;
  overflow: auto;
  outline:1px solid gray;
}
.DayItem {
  padding:10px;
  border:1px solid black;
  margin-bottom: 10px;
  h1,h2,h3,h4,h5,h6 {
    margin-top:0;
  }
  .day__input {

  }
  .day__results {

  }
}

.ResultItem {
  margin-bottom: 5px;
  .result-item__label {
    margin-right: 5px;
  }
  .result-item__value {
    font-weight: bold;
  }
}
